@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #001424;
    font-family: 'Roboto';
    color: #fff;
}

.app {
    max-width: 1104px;
    margin: 0 auto;
}

.header {
    z-index: 1;
    position: relative;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 50px;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    gap: 24px;
    height: 100%;
}

a {
    text-decoration: none;
    color: #fff;
}

nav a {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    height: 100%;
    border-bottom: 2px solid transparent;
}

nav a.active {
    color: #ba9d5a;
    border-bottom: 2px solid #ba9d5a;
}

button {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    filter: brightness(125%);
}

.login {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
}

.login svg {
    margin-right: 4px;
}

.premier {
    margin-top: 30px;
    width: 100%;
    height: 384px;
    display: block;
    border-radius: 20px;
    background: url(./assets/1.jpg) no-repeat center center / cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 40px;
}

.premier-text {
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    width: 530px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.premier-logo img {
    height: 111px;
}

.premier-date {
    color: hsla(0, 0%, 100%, 0.5);
    font-size: 14px;
    line-height: 20px;
}

.row {
    margin-top: 65px;
}

.row h6 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #eee;
    max-width: 80%;
    margin-bottom: 30px;
}

.row-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-img {
    border-radius: 8px;
    background-color: #122840;
    transition: all 0.2s ease;
}

.card-name {
    margin-top: 8px;
    margin-bottom: 10px;
}
.movie-card{
    width: 168px;
    height: 235px;
}
.movie-card img{
    width: 168px;
    height: 235px;
}
.movie-card:hover {
    cursor: pointer;
}

.movie-card:hover .card-img {
    transform: scale(0.9);
}

.card-rating {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.card-rating svg {
    fill: #ba9d5a;
    width: 16px;
    margin-right: 3px;
}

.ratings {
    padding-bottom: 100px;
}

footer {
    margin-top: 80px;
    background: #001424;
    color: #fff;
    box-shadow: 0 -50px 100px rgb(123 97 255 / 7%);
    padding: 44px 0;
    width: 100%;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
}

footer div {
    max-width: 1104px;
    margin: 0 auto;
}

.preview {
    height: 700px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

.preview img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.preview-bg {
    background: radial-gradient(
        42.37% 55.04% at 63.88% 44.96%,
        rgba(0, 20, 36, 0) 32.81%,
        #001424 100%
    );
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.film-data {
    z-index: 1;
    position: relative;
    padding-top: 250px;
    display: flex;
    align-items: flex-end;
}

.film-img {
    margin-right: 40px;
    height: 348px;
    width: 248px;
    border-radius: 12px;
}

.film-content h5 {
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #eee;
    text-shadow: 0 0 60px #001424;
    margin-bottom: 16px;
}

.film-desc {
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 46px;
}

.film-buttons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.film-buttons button {
    padding: 0 20px;
    height: 44px;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gold-btn {
    background-color: #ba9d5a;
    border-color: #ba9d5a;
    color: #001424;
}

.simple-btn {
    background: hsla(0, 0%, 100%, 0.1);
    box-shadow: inset 0 0 0 1px hsl(0deg 0% 100% / 20%);
    backdrop-filter: blur(10px);
    height: 100%;
}

.film-buttons svg {
    width: 24px;
    height: 24px;
    fill: #fff;
}

.film-full-desc {
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
}

.search {
    background: hsla(0, 0%, 100%, 0.1);
    color: #e2e5eb;
    border: 1px solid hsla(0, 0%, 100%, 0.2);
    padding-left: 16px;
    backdrop-filter: blur(5px);
    width: 300px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search svg {
    fill: #fff;
    width: 24px;
    margin-right: 4px;
}

.search input {
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    position: relative;
}

.search input::placeholder {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
}
.front{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1491px;
    position: absolute;
    z-index: 100;
}
.display-video{
    width: 1200px;
    height: 700px;
    background-color: #001424;
    position: absolute;
    z-index: 101;
    animation-duration: 0.5s;
}

.about-row{
    width: 100%;
    margin-top: 100px;
}

.about-row table{
    border: 1px solid #122840;
    border-collapse: collapse;
    margin: auto;
}
.about-row td{
    border: 1px solid #122840;
    padding: 5px;
}